*
{
    font-family: 'Montserrat', sans-serif;
}

.cabezado {
    width: auto;
    height: 200px;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabezado img {
    width: 300px;
    height: 300px;
}

.escabio {
    background-image: url(../img/fondopiola.png);
    width: auto;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.escabio h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    font-weight: bold;
    color: #fff;
}

.escabio p {
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    font-weight: bold;
    color: #fff;
}

.escabio h3 {
    text-align: center;
    font-size: 30px;
    margin-top: 200px;
    font-weight: bold;
    color: #fff;

}

section {
    margin-left: 20px;
    margin-right: 20px;
}


.aa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.productos {
    display: inline-block;
    justify-items: center;
    padding-top: 30px;
    border-bottom: 2px solid #111;
    font-size: 30px;
    
}




.hola {
    max-width: 18rem;
}

.imgProductos {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-top: 1rem;
}

.card {
    display: flex;
    align-items: center;
    text-align: center;
}

.colorBoton {
    color: white;
    background-color: rgb(70, 10, 18);
    border-radius: 5px solid;
}

.colorBoton:hover {
    background-color: rgb(120, 10, 18);
}


